.cta {
  display: flex;
  justify-content: center;
}

.ctaContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ctaText {
  margin-bottom: 30px !important;
}

/* Tablet */
@media screen and (max-width: 1025px) and (min-width: 601px) {
  .ctaContainer {
    width: 70%;
  }
}
