.navbar {
  border-bottom: solid 1px var(--title-color);
  background-color: var(--secondary-color) !important;
  font-family: var(--font-text) !important;
  font-weight: 400 !important;
  padding: 13px 0 !important;
}

.headerContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 90%;
}

.logo {
  margin-right: 0 !important;
  padding: 0 !important;
}

.myLogo {
  width: 120px;
}

.headerMobile {
  display: flex;
  align-items: center;
}

.navbarToggler {
  border: none !important;
  padding: 0 !important;
  margin-left: 8px;
}

.navbarToggler:focus {
  box-shadow: none !important;
}

/* Global override for toggler icon */
.navbar :global(.navbar-toggler-icon) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(30, 30, 30)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navLink {
  color: var(--title-color) !important;
  font-size: 17px !important;
}

.navLink:hover {
  color: var(--hover) !important;
}

.btnHeader, .btnHeaderMobile {
  background-color: var(--title-color);
  color: var(--secondary-color);
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 15px;
}

.btnHeader:hover, .btnHeaderMobile:hover {
  background-color: var(--hover);
}

.btnHeader:active, .btnHeaderMobile:active {
  background-color: var(--text-color);
}

.btnHeader {
  margin-left: 20px;
  display: none !important; /* Hidden on mobile by default */
}

.btnHeaderMobile {
  font-size: 14px;
}

.navDesktop {
  display: none;
}

.navMobile {
  display: block;
}

.desktopMenu {
  margin: 20px 0 10px 0 !important;
}

/* Tablet */
@media screen and (max-width: 1025px) and (min-width: 601px) {
  .headerContainer {
    max-width: 85% !important;
  }

  .navbar {
    padding: 16px 0 !important;
  }

  .navLink {
    font-size: 18px !important;
  }
}

/* Desktop */
@media screen and (min-width: 1026px) {
  .headerContainer {
    max-width: 1200px !important;
    min-width: 1200px !important;
  }

  .navbar {
    padding: 15px 0 !important;
  }

  .desktopMenu {
    align-items: center;
    margin: 0 !important;
  }

  .navMobile {
    display: none;
  }

  .navDesktop {
    display: block;
  }

  .navLink {
    font-size: 18px !important;
  }

  .btnHeaderMobile {
    display: none !important;
  }

  .btnHeader {
    display: inline-block !important;
    font-size: 18px !important;
  }
}
