:root {
  --font-title: "Fraunces", serif;
  --font-text: "Inter", sans-serif;
  --primary-color: #fff5ef;
  --secondary-color: #fffcfa;
  --tertiary-color: #fffdfd;
  --title-color: #1e1e1e;
  --text-color: #5f5f5f;
  --span-bg: #999696;
  --hover: #3b3b3b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-text);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color) !important;
}

h1,
h2 {
  font-family: var(--font-title);
  font-weight: 800 !important;
}

h1 {
  font-size: 35px !important;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 29px !important;
  letter-spacing: -1.2px;
}

h3 {
  font-family: var(--font-text);
  font-weight: 700 !important;
  font-size: 23px !important;
  letter-spacing: -0.4px;
}

p {
  font-size: 17px !important;
  color: var(--text-color);
  font-family: var(--font-text);
}

a {
  text-decoration: none;
}

/* Buttons */
.my-btn {
  background-color: var(--title-color);
  color: var(--secondary-color);
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  padding: 15px 25px;
}

.my-btn:hover {
  background-color: var(--hover);
  color: var(--secondary-color);
}

.my-btn:active {
  background-color: var(--text-color);
}

.type-2 {
  background-color: transparent;
  color: var(--title-color);
  padding: 0;
  margin-left: 15px;
}

.type-2:hover {
  background-color: transparent;
  color: var(--hover);
}

.type-2:active {
  color: var(--text-color);
}

/* Layout */
.my-body {
  padding-top: 95px;
  background-color: var(--primary-color);
  font-family: var(--font-text);
}

.space {
  height: 90px;
}

.title-section {
  text-align: center;
}

.updating-span-container {
  display: flex;
  justify-content: center;
}

.updating {
  color: var(--span-bg);
  font-size: 15px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

/* Tablet */
@media screen and (max-width: 1025px) and (min-width: 601px) {
  .my-body {
    padding-top: 135px;
  }
  .space {
    height: 125px;
  }
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 34px !important;
  }
  h3 {
    font-size: 23px !important;
  }
  p {
    font-size: 18px !important;
  }
}

/* Desktop */
@media screen and (min-width: 1026px) {
  .my-body {
    padding-top: 165px;
  }
  .space {
    height: 150px;
  }
  h1 {
    font-size: 50px !important;
  }
  h2 {
    font-size: 42px !important;
  }
  h3 {
    font-size: 27px !important;
  }
  p {
    font-size: 20px !important;
  }
}
